html
    include include/header.pug
    body
        include include/navbar.pug
        div#img.col-md-6
            img(src='/image/lidar')
        div#description.col-md-6
            h2 激光雷达
                h3 接口：/image/lidar