head
    title=title
    meta(charset=utf8)
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='google', value='notranslate')

    link(rel='stylesheet', href='/stylesheets/core.css')
    link(rel='stylesheet', href='/stylesheets/cosmo.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')