nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/') 渲染边界图片
                        p.i.fas.fast-home
                li
                    a(href='/text') 带文字图片
                        p.i.fas.fas-pic
                li
                    a(href='/road') 道路
                        p.i.fas.fas-pic
                li
                    a(href='/lidar') 激光雷达
                        p.i.fas.fas-pic